.active-link {
  text-decoration: underline;
}

.logo300 {
  width: 64px;
  height: 64px;
}

.container300,
.parentcontainer300 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 125px;
  text-align: center;
  width: 100%;
  align-items: center;
}

.parentcontainer300 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.container300 {
  gap: 20px;
}

.navlinkcontainer300 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 1px;
}

.navlink300 {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  list-style-type: none;
  padding: 0 15px;
}

.navlink300:hover {
  text-decoration: underline;
}

.navlink300.active {
  text-decoration: underline;
}

.navlinkcontainer300 > li {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  list-style-type: none;
}

.navlinkcontainer300 > li:nth-child(3) {
  border-right: 2px solid #4c4f53;
}

.container300 > h1 {
  min-width: 150px;
}
